@using mvc.Models;
@model List<GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giỏ Hàng</h2>

<table>
    <tr>
        <th style="font-weight:bold">Mã Sách</th>
    
        <th style="font-weight:bold">Tên Sách</th>
    
        <th style="font-weight:bold">Ảnh Bìa</th>
    
        <th style="font-weight:bold">Đơn Giá</th>
    
        <th style="font-weight:bold">Số Lượng</th>
    
        <th style="font-weight:bold">Thành Tiền</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr style="clear:both">
            <td>@item.iMaSP</td>
        
            <td>@item.iTenSP</td>
        
            <td><a href="@Url.Action("XemChiTiet","Sach",new { @Ma=item.iMaSP}) "><img src="~/HinhAnhSP/@item.iAnhBia" style="width:50px;height:50px;" /> </a></td>
        
            <td>@string.Format("{0:0,0}",item.iDonGia) vnd</td>
        
            <td>@item.iSoLuong</td>
        
            <td>@string.Format("{0:0,0}",item.iThanhTien) vnd</td>
            
        </tr>
    }
    <tr>
        <td colspan="6" style="text-align:center">
            <span style="padding:10px; background:#db6516;">@Html.ActionLink("Chỉnh Sửa Giỏ Hàng", "SuaGioHang")</span>
        </td>
    </tr>
    <tr>
        <td colspan="6" style="text-align:center">
            @using (Html.BeginForm("DatHang", "GioHang"))
            {
                <span style="padding:10px; background:#db6516;">@Html.ActionLink("Đặt Hàng", "DatHang","GioHang")</span>
            }
            
        </td>
    </tr>

</table>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid red;
        text-align: center ;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
